<nav id="drawer" class="sidebar-nav-fixed sidebar-view-container">
  <ul class="sidebar">
    <li class="sidebar-labels-heading">
      <i class="icon-rocket"></i> Shipped Apps
    </li>
    
    <li class="sidebar-labels-container" style="height: auto;">
      <ul class="sidebar-labels shipped-apps"></ul>
    </li>
    
    <li class="sidebar-labels-heading">
      Local Apps
      <span class="new-label-container">
        <i class="icon-plus tooltip" data-event="click: new_app" title="Create a new App"></i>
      </span>
    </li>
    
    <li class="sidebar-labels-container" style="height: auto;">
      <ul class="sidebar-labels local-apps"></ul>
    </li>
  </ul>
</nav>