<div class="modal hide fade" tabindex="-1" role="dialog">
  <form style="margin:0;" data-event="submit: on_submit">
    <div class="modal-header">
      <h3>Login</h3>
    </div>
    <div class="modal-body">
      <fieldset style="margin:0 auto;width:300px;">
        <div class="alert alert-error hide">
          Email/password is incorrect
        </div>
        <label>Email</label>
        <input type="text" name="email" style="width:286px;" autofocus>
        <label>Password</label>
        <input type="password" name="password" style="width:286px;">
      </fieldset>
    </div>
    <div class="modal-footer">
      <input type="button" class="btn" data-dismiss="modal" value="Cancel">
      <input type="submit" class="btn btn-primary" value="Login">
    </div>
  </form>
</div>